/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cormorant Garamond', serif;
  color: #333;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('assets/school1.jpg');
  background-size: cover;
  background-position: center;
}

/* Info Box */
.info-box {
  background: rgba(255, 255, 255, 0.85); /* Translucent white */
  padding: 50px;
  width: 550px; /* Increased width */
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  text-align: center;
}

/* Typography */
h1 {
  font-size: 2.8rem; /* Increased font size */
  font-weight: bold;
  color: #1a1a1a;
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem; /* Increased font size */
  font-weight: bold;
  color: #2e2e2e;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.6rem; /* Increased font size */
  font-weight: bold;
  color: #3a3a3a;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 25px;
}

ul li {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.3rem; /* Increased font size */
  margin-bottom: 20px;
}

strong {
  font-weight: bold;
  font-size: 1.6rem; /* Contact number font size increase */
}
